.auth__input {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color:rgba(204, 204, 204, 1);
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-bottom: 2px solid rgba(204, 204, 204, .8);
  background-color: rgba(0, 0, 0, 0);
}

.auth__input:focus {
  border-bottom: 2px solid rgba(204, 204, 204, 1);
}
